# python

#### problem 1: Python If-Else
**Task** 
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird
**Input Format**

A single line containing a positive integer, .

Constraints

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [1]:
n=int(input())
if n%2==0 :
    if n in range(2,5):
        print( "Not Weird")
    elif n in range(6,21):
        print("Weird")
    elif n>20 :
        print("Not Weird")
else:
    print("Weird")

3
Weird

#### problem 2: Arithmetic Operators

**Task** 
Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
**Input Format**

The first line contains the first integer, a. The second line contains the second integer, b.

**Constraints**

 1<=a<=10^10
 
 1<=b<=10^10

**Output Format**

Print the three lines as explained above.

In [ ]:
if __name__ == '__main__':

    NumberFirst=int(input())
    NumberSecond=int(input())

    print (NumberFirst+NumberSecond)
    print (NumberFirst-NumberSecond)
    print (NumberFirst*NumberSecond)

#### problem 3: Division
**Task** 
Read two integers and print two lines. The first line should contain integer division, a //b . The second line should contain float division,  a/ b.

You don't need to perform any rounding or formatting operations.

**Input Format**

The first line contains the first integer,a . The second line contains the second integer,b .

**Output Format**

Print the two lines as described above.

In [ ]:
from __future__ import division

if __name__ == '__main__':
    NumberFirst=int(raw_input())
    NumberSecond=int(raw_input())
    
    print (NumberFirst%NumberSecond)
    print (NumberFirst/NumberSecond)

#### problem 4: Loops
**Task** 
Read an integer N . For all non-negative integers i <N, print i^2. See the sample for details.

Input Format

The first and only line contains the integer, N.

**Constraints**
1<=N<=20

**Output Format**

Print  lines, one corresponding to each .

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    for x in range(0,n):
        print(x*x)

**problem 5: Print Function**

Read an integer N.

Without using any string methods, try to print the following:
123...N
Note that "" represents the values in between.

**Input Format**

The first line contains an integer N.

**Output Format**

Output the answer as explained in the task.

In [ ]:
if __name__ == '__main__':
    n = int(input())

def printN(n):
    st=str()
    for i in range(1,n+1):
        st+=str(i)
    return st

print(printN(n))

# SQL 

**STATION**

Field | Type
------------ | -------------
ID | NUMBER
CITY | VARCHAR2(21)
STATE | VARCHAR2(2)
LAT_N | NUMBER
LONG_w | NUMBER

#### problem 1: Weather Observation Station 1

Query a list of CITY and STATE from the STATION table.

In [ ]:
SELECT CITY,STATE FROM STATION;

#### problem 2: Weather Observation Station 3

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE MOD(ID,2)=0 ORDER BY CITY;

#### problem 3: Weather Observation Station 4

Let N be the number of CITY entries in STATION, and let N' be the number of distinct CITY names in STATION; query the value of N-N' from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
SELECT (COUNT(CITY) - COUNT(DISTINCT CITY))
FROM STATION;

#### problem 4: Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
SELECT CITY, LENGTH(CITY)
FROM STATION
WHERE (LENGTH(CITY) in ( SELECT MIN(LENGTH(CITY))
                         FROM STATION)) 
ORDER BY CITY
LIMIT 1;
SELECT CITY, LENGTH(CITY)
FROM STATION
WHERE (LENGTH(CITY) in ( SELECT MAX(LENGTH(CITY))
                         FROM STATION)) 
ORDER BY CITY
LIMIT 1;

#### problem 5: Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT CITY 
FROM STATION
WHERE CITY REGEXP '^a|^e|^i|^o|^u';

#### problem 6: Weather Observation Station 7

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT distinct CITY 
FROM STATION
where CITY REGEXP 'a$|e$|o$|u$|i$'
ORDER BY CITY;

#### problem 7: Weather Observation Station 8

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE (CITY REGEXP '^[aoueiAOUEI]') and (CITY REGEXP '[aoueiAOUEI]$')
order by CITY;

#### problem 8: Weather Observation Station 9

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE (CITY REGEXP '^[^aoueiAOUEI]')
order by CITY;

#### problem 9: Weather Observation Station 10

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE (CITY REGEXP '[^aoueiAOUEI]$')
order by CITY;

#### problem 10: Weather Observation Station 11

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE (CITY REGEXP '^[^aoueiAOUEI]|[^aoueiAOUEI]$')
order by CITY;